# bin cli
packages/cli/cli

# generated
packages/core/src/generated
packages/core/syntaxes
packages/extension/syntaxes
**/*.vsix

# package specific
**/node_modules
**/out
pnpm-lock.yaml

# docs specific
docs/out

# testing specific
coverage
.jest

# environment specific
**/.DS_Store
**/.env