# generated
packages/core/src/generated
packages/core/syntaxes
packages/extension/syntaxes
**/*.vsix

# package directories
**/node_modules
**/out

# docs specific
docs/out

# testing specific
coverage
.jest

# environment specific
**/.DS_Store
**/.env

**/._*.*
**/._*
